
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 800px;
    text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
     background-color: #3c393b;
     color: white;
}

.heading{
    background-color: #3c393b;
    color: white;
}

table, th, tr{
    border: 1px solid;

}

.guest:hover{
    background-color: #d0ddb5;
}